.App-TodoText
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-TodoList
{
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
  width: 800px;
  border: 1px solid #1953c7;
  background-color: #425780;
}

.App-TodoList .theList li
{
  margin-right: 40px;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  list-style: none;
  background-color: #6780b3;
}
.App-TodoList .theList li:hover{
  cursor: pointer;
  background-color: #1953c7;
}
.ImageDiv
{
  float: top;
}
.App-Button
{
  margin-top: 20px;
  margin-bottom: 20px;
}

.App-Button:hover
{
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px);
  color: white;
}
